body {
	text-align: left;
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: black;
}

ul {
	margin: 0 0 1.5em 0;
	padding: 0;
}

div#header,div#content,div#branding {
	margin: 0 auto;
	width: 950px;
	position: relative;
}

div#page {
	width: 950px;
	margin: 0 auto;
	padding: 0;
	background: white;
	text-align: center;
	background-color: #EFFAFF;
}

div#branding {
	float: none;
	padding: 10px 0 0 0;
	color: white;
	text-align: left;
	background-color: #108AC6;
}

div#blog_name {
	padding-left: 38px;
	float: left;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: black;
}

div#branding h1 {
	margin: 0;
	padding-top: 8px;
	font-size: 30px;
}

#blog_navbar {
	background-color: #108AC6;
	margin: 0 auto;
	width: 950px;
}

#blog_navbar ul {
	margin: 0 0 1.5em 0;
	padding: 0;
	margin-left: 210px;
}

#blog_navbar li {
	line-height: 30px;
	height: 30px;
	float: left;
	list-style: none;
	color: white;
	font-size: 15px;
	padding: 0px 27px;
	margin: 0px;
}

.blog_navbar_for {
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border: 0px;
	margin-top: 10px;
	font-weight: bold;
	color: #108AC6;
	background-color: #EFFAFF;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.blog_navbar_for a:link,.blog_navbar_for a:active,.blog_navbar_for a:visited
	{
	color: #108AC6;
	text-decoration: none;
}

div#branding h1 a,div#branding h1 a:link,div#branding h1 a:active,div#branding h1 a:visited
	{
	color: white;
	text-decoration: none;
}

#fd {
	clear: both;
}

.clearfix {
	display: block;
}

.sub-title {
	border-top: 1px solid white;
	color: white;
	font-size: 18px;
	padding: 0 15px;
}

div#content {
	margin-top: 5px;
	padding: 0;
	text-align: left;
}

div#main {
	width: 714px;
	border: 1px solid;
	padding: 5px 12px;
	margin: 3px 0 0 5px;
	overflow: hidden;
	float: right;
	display: inline;
}

div#main a {
	color: #108AC6;
	text-decoration: none;
}

div#local {
	width: 188px;
	border: 1px black solid;
	padding: 10px 3px 0 3px;
	margin: 3px 3px 0 0;
	overflow: hidden;
	float: left;
	display: inline;
}

.blog_main {
	margin: auto;
	width: 700px;
	border-bottom: 1px dotted;
	padding: 10px 11px 15px;
	margin-bottom: 10px;
}

div#local,div#main,.blog_main {
	background-color: white;
	border-color: #108AC6;
}

.blog_title {
	margin-bottom: 15px;
}

h3 {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: black;
}

div.blog_title h3 {
	font-size: 16px;
	padding-top: 10px;
}

div#blog_content {
	font-size: 14px;
	line-height: 1.8em;
}

ul.blog_categories {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.blog_categories li {
	list-style-type: none;
	display: inline;
	padding: 0;
	margin: 0 5px 0 0;
}

.news_tag {
	clear: both;
	display: block;
	margin: 10px 0 5px 0;
	line-height: 20px;
}

.news_tag::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#blog_owner {
	text-align: center;
	padding: 0 13px;
}

img {
	width: 100%;
	border: 1px solid #CCC;
}

#blog_owner_name {
	padding-top: 5px;
	font-weight: bold;
}