body {
	text-align: left;
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: black;
}

ul {
	margin: 0 0 1.5em 0;
	padding: 0;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: black;
}

h3 {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: black;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
	border: 1px solid #CCC;
}

#fd {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	background-color: transparent;
	border: 0;
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}

.clearfix {
	display: block;
}

div#header,div#content,div#branding {
	margin: 0 auto;
	width: 950px;
	position: relative;
}

div#page {
	width: 950px;
	margin: 0 auto;
	padding: 0;
	background: white;
	text-align: center;
	background-color: #EFFAFF;
}

div#branding {
	float: none;
	padding: 10px 0 0 0;
	color: white;
	text-align: left;
	background-color: #108AC6;
}

div#blog_name {
	padding-left: 38px;
	float: left;
}

div#branding h1 {
	margin: 0;
	padding-top: 8px;
	font-size: 30px;
}

#blog_navbar {
	background-color: #108AC6;
	margin: 0 auto;
	width: 950px;
}

#blog_navbar ul {
	margin: 0 0 1.5em 0;
	padding: 0;
	margin-left: 210px;
}

#blog_navbar li {
	line-height: 30px;
	height: 30px;
	float: left;
	list-style: none;
	color: white;
	font-size: 15px;
	padding: 0px 27px;
	margin: 0px;
}

.blog_navbar_for {
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border: 0px;
	margin-top: 10px;
	font-weight: bold;
	color: #108AC6;
	background-color: #EFFAFF;
}

.blog_navbar_for a {
	color: #108AC6;
	text-decoration: none;
}

div#branding h1 a {
	color: white;
	text-decoration: none;
}

.sub-title {
	border-top: 1px solid white;
	color: white;
	font-size: 18px;
	padding: 0 15px;
}

div#content {
	margin-top: 5px;
	padding: 0;
	text-align: left;
}

div#main {
	width: 714px;
	border: 1px solid;
	padding: 5px 12px;
	margin: 3px 0 0 5px;
	overflow: hidden;
	float: right;
	display: inline;
}

div#main a {
	color: #108AC6;
	text-decoration: none;
}

div#main a:hover {
	text-decoration: underline;
}

div#local {
	width: 188px;
	border: 1px black solid;
	padding: 10px 3px 0 3px;
	margin: 3px 3px 0 0;
	overflow: hidden;
	float: left;
	display: inline;
}

.blog_main {
	margin: auto;
	width: 700px;
	border-bottom: 1px dotted;
	padding: 10px 11px 15px;
	margin-bottom: 10px;
}

div#local,div#main,.blog_main {
	background-color: white;
	border-color: #108AC6;
}

.blog_title {
	margin-bottom: 15px;
}

div.blog_title h3 {
	font-size: 16px;
	padding-top: 10px;
}

div#blog_content {
	font-size: 14px;
	line-height: 1.8em;
}

ul.blog_categories {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.blog_categories li {
	list-style-type: none;
	display: inline;
	padding: 0;
	margin: 0 5px 0 0;
}

.news_tag {
	clear: both;
	display: block;
	margin: 10px 0 5px 0;
	line-height: 20px;
}

.news_tag::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#blog_owner {
	text-align: center;
	padding: 0 13px;
}

#blog_owner_name {
	padding-top: 5px;
	font-weight: bold;
}

.blog_bottom {
	padding: 15px 0 5px 0;
}

.blog_bottom li {
	list-style: none;
	display: inline;
	float: left;
	margin: 0 10px 0 0;
	padding-right: 10px;
	border-right: 1px solid;
	border-right-color: #108AC6;
	color: #108AC6;
}

.pagination {
	padding: 5px;
	float: right;
}

.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #069;
	font-weight: bold;
	background-color: #108AC6;
	border-color: #108AC6;
	color: white;
}

.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAD;
	text-decoration: none;
	color: #069;
}

.posttime-blue {
	border: 1px solid #999;
	clear: right;
	color: white;
	float: right;
	height: 60px;
	width: 60px;
	background-color: #108AC6;
}

.posttime-MY {
	border-bottom: 1px solid white;
	font-size: 9px;
	height: 15px;
	padding-top: 5px;
	text-align: center;
}

.posttime-D {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

.comments {
	background: none repeat scroll 0 0 #FCFCFC;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	margin-bottom: 15px;
	padding: 0 15px 15px;
	position: relative;
}

.comment-body {
	margin-top: 15px;
}

.comment-author {
	float: left;
	text-align: center;
	width: 81px;
}

.comment-author a {
	font-weight: bold;
	white-space: nowrap;
	margin-right: 14px;
}

.comment-author img {
	border: 1px solid #999;
	height: 32px;
	padding: 1px;
	width: 32px;
}

.comment-author div {
	background: url("../img/commentpoint.png") no-repeat scroll 100% 33%
		transparent;
	margin-top: 10px;
	padding-right: 14px;
}

.comment-info {
	background: url("../img/comment.gif") no-repeat scroll 0 0 #EDEFF0;
	font-size: 12px;
	padding: 10px 15px 0;
	width: 555px;
}

.comment-content {
	background: url("../img/comment.gif") no-repeat scroll 100% 100%
		transparent;
	font-size: 12px;
	line-height: 145%;
	margin: 0 -15px;
	overflow: hidden;
	padding: 9px 15px 10px;
	word-wrap: break-word;
}

textarea {
	overflow: auto;
}

.comment-form input,.comment-form textarea {
	background: url("../img/textfield.gif") repeat-x scroll 50% 0 white;
	border: 1px solid #A6A6A6;
	color: #555;
	font-family: Helvetica, Arial, sans-serif;
	height: 16px;
	outline: none;
	padding: 2px 1px;
	width: 200px;
}

.comment-form textarea {
	font-size: 12px;
	height: auto;
	width: 640px;
}

button,.button {
	background: url(../img/icon.png) repeat center bottom;
	border: 1px solid;
	border-radius: 4px;
	height: 28px;
	margin: 0;
	padding: 0 6px;
	vertical-align: top;
	border-color: #CCC #BBB #A0A0A0;
}

button:hover,.button:hover {
	border-color: #BBB;
}

.comment-form button {
	background: none repeat scroll 0 0 #B4D666;
	border-color: #B4D666 #81B840 #81B840 #B4D666;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #2970A6;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding: 0px 6px;
}

.comment-form button:hover {
	background: none repeat scroll 0 0 #98C64C;
	border-color: #76B33A #98C64C #98C64C #76B33A;
	color: #074A7E;
}