<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.TestMapper">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	
	<resultMap id="testResultMap" type="TestBean">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="createDate" column="create_date" />
	</resultMap>

	<select id="selectTest" parameterType="TestBean" resultMap="testResultMap">
		select
		* from test
		<where>
		<if test="name!=null and name!=''">
		name = #{name}
		</if>
		<if test="description!=null and description!=''">
		and description = #{description}
		</if>
		<if test="createDate !=null">
		and create_date = #{createDate}
		</if>
		</where>
  	 </select>
</mapper>